@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Montserrat', sans-serif;
}

.btn-main {
	@apply py-1 text-white border-4 bg-primary border-mango rounded-xl;
}

.btn-main:hover {
	@apply border-4 bg-primary-dark border-primary-dark;
}

.logos {
	height: 8rem;
	width: 8rem;
}

.sesiones-circle {
	@apply flex items-center justify-center w-10 h-10 text-lg font-bold text-white rounded-full bg-secondary;
}

.sesiones-text {
	@apply w-2/3 px-4 pb-4 ml-8 text-xl font-bold border-b-8;
}

.title {
	@apply text-2xl font-bold text-center md:text-4xl text-primary;
}

.footer-btn-secondary {
	@apply flex items-center justify-center w-32 h-16 text-white rounded-md bg-secondary;
}

.footer-btn-primary {
	@apply flex items-center justify-center w-32 h-16 text-white rounded-md bg-primary;
}

.white-btn {
	@apply flex items-center justify-center w-6 h-6 bg-white rounded-full;
}

.footer-text {
	font-size: 0.6rem;
}

.text-mini {
	font-size: 0.5rem;
	color: #fff;
	margin-top: 0.5rem;
	text-align: center;
}

.logo-fb {
	min-width: 60px;
}

.logo-ws {
	min-width: 45px;
}

.logo-live {
	min-width: 90px;
}
