@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Outfit:wght@400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
}

.wiggle {
  position: relative;
  animation: 2.5s rocking infinite;
}

@keyframes rocking {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(5deg);
  }
  95% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.btn-main {
  @apply rounded-xl border-4 border-mango bg-primary py-2 text-white;
}

.btn-main:hover {
  @apply border-4 border-primary-dark bg-primary-dark;
}

.btn-main-mango {
  @apply rounded-xl border-4 border-mango bg-mango px-4 py-2 text-white hover:border-mango-btn hover:bg-mango-btn;
}

.btn-green {
  @apply rounded-full border-4 border-white bg-whats px-6 md:text-lg font-bold text-white shadow-lg;
}

.btn-secondary {
  @apply rounded-full  bg-secondary px-6 text-2xl font-bold text-white shadow-lg;
}

.btn-telegram {
  @apply rounded-full border-4 border-white bg-telegram px-6 text-2xl font-bold text-white shadow-lg;
}

.btn-social {
  @apply mx-2 flex w-full items-center gap-2 rounded-lg px-4 py-2 text-sm font-semibold text-white lg:w-64 lg:py-4;
}

.btn-social-big {
  @apply flex w-full items-center gap-2 rounded-lg px-8 py-4 text-sm font-semibold text-white;
}

.logos {
  height: 8rem;
  width: 8rem;
}

.sesiones-circle {
  @apply flex h-10 w-10 items-center justify-center rounded-full bg-secondary text-lg font-bold text-white;
}

.sesiones-text {
  @apply ml-8 w-2/3 border-b-8 px-4 pb-4 text-xl font-bold;
}

.title {
  @apply text-center text-2xl font-bold text-primary md:text-4xl;
}

.footer-btn-secondary {
  @apply flex h-16 w-32 items-center justify-center rounded-md bg-secondary text-white;
}

.footer-btn-primary {
  @apply flex h-16 w-32 items-center justify-center rounded-md bg-primary text-white;
}

.white-btn {
  @apply flex h-12 w-12 items-center justify-center rounded-full bg-white;
}

.footer-text {
  font-size: 0.6rem;
}

.text-mini {
  font-size: 0.5rem;
  margin-top: 0.5rem;
  text-align: center;
}

.logo-fb {
  width: 51px;
}

.logo-ws {
  width: 45px;
}

.font-cursive {
  font-family: "Pacifico", sans-serif;
  font-weight: 400;
}

.circle {
  box-shadow: 0px 0px 20px 20px rgba(231, 64, 122, 0.5);
  border-radius: 50%;
}

.logo-container {
  position: relative;
}

.counter-num {
  font-family: "Share Tech Mono";
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
