@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Montserrat', sans-serif;
}

.btn-main {
	@apply py-2 text-white border-4 bg-primary border-mango rounded-xl;
}

.btn-main:hover {
	@apply border-4 bg-primary-dark border-primary-dark;
}

.btn-green {
	@apply px-6 text-2xl font-bold text-white border-4 border-white rounded-full shadow-lg bg-whats;
}

.btn-social {
	@apply flex items-center justify-center gap-2 px-6 py-2 text-sm font-semibold text-white rounded-lg lg:w-72;
}

.logos {
	height: 8rem;
	width: 8rem;
}

.sesiones-circle {
	@apply flex items-center justify-center w-10 h-10 text-lg font-bold text-white rounded-full bg-secondary;
}

.sesiones-text {
	@apply w-2/3 px-4 pb-4 ml-8 text-xl font-bold border-b-8;
}

.title {
	@apply text-2xl font-bold text-center md:text-4xl text-primary;
}

.footer-btn-secondary {
	@apply flex items-center justify-center w-32 h-16 text-white rounded-md bg-secondary;
}

.footer-btn-primary {
	@apply flex items-center justify-center w-32 h-16 text-white rounded-md bg-primary;
}

.white-btn {
	@apply flex items-center justify-center w-6 h-6 bg-white rounded-full;
}

.footer-text {
	font-size: 0.6rem;
}

.text-mini {
	font-size: 0.5rem;
	color: #fff;
	margin-top: 0.5rem;
	text-align: center;
}

.logo-fb {
	min-width: 60px;
}

.logo-ws {
	min-width: 45px;
}

.logo-live {
	min-width: 90px;
}

.font-cursive {
	font-family: 'Pacifico', sans-serif;
	font-weight: 400;
}

.circle {
	box-shadow: 0px 0px 20px 20px rgba(231, 64, 122, 0.5);
	border-radius: 50%;
}

.logo-container {
	position: relative;
}

.counter-num {
	font-family: 'Share Tech Mono';
}
